*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#0f1c2e;
}

/* ===== NAVBAR ===== */
nav{
    background: linear-gradient(90deg,#0f1c2e,#0a1624);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:relative;
    z-index:1000;
}

/* ===== LOGO ===== */
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    font-size:20px;
    font-weight:600;
    letter-spacing:1px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:cover;
}

/* ===== LINKS ===== */
.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links li a{
    text-decoration:none;
    color:#cfd8e3;
    font-size:16px;
    position:relative;
    transition:0.3s;
}

/* Hover elegante */
.nav-links li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0%;
    height:2px;
    background:#00bcd4;
    transition:0.3s;
}

.nav-links li a:hover{
    color:white;
}

.nav-links li a:hover::after{
    width:100%;
}

/* ===== HAMBURGUESA ===== */
.menu-toggle{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap:5px;
}

.menu-toggle span{
    width:25px;
    height:3px;
    background:white;
    transition:0.3s;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){

    nav{
        padding:15px 20px;
    }

    .nav-links{
        position:absolute;
        top:70px;
        right:-100%;
        flex-direction:column;
        background:#0a1624;
        width:100%;
        text-align:center;
        padding:30px 0;
        gap:25px;
        transition:0.4s ease;
    }

    .nav-links.active{
        right:0;
    }

    .menu-toggle{
        display:flex;
    }
}
